.vs
.idea
.vscode
.DS_store
Bin
Build
Build_Win
data
Shipping
.lite_workspace.lua
Vendors/[Cc]ef
Tools/[Oo]akgen.exe
Tools/premake/cache
*.code-workspace
Code/Server/core/bridge.generated.h
Code/Plugins/LuaMod/LuaBindings.hpp
Tools/Oakgen.pdb
Tools/Oakgen.ilk
node_modules/
!.github/actions/*/node_modules/
Debug/
Release/
/neon86.ncb
*.dsp
*.mak
*.plg
*.user
*.dsw
*.opt
*.suo
