.vs
.idea
.vscode
.DS_store
Bin
Build
Debug/
Release/
data
.lite_workspace.lua
*.code-workspace

/neon86.ncb
*.dsp
*.mak
*.plg
*.user
*.dsw
*.opt
*.suo

# private projects
toys/mafia
