.vs
.idea
.vscode
.DS_store
Bin
Build
Debug/
Release/
data

*.pdb
*.ilk
*.lib
*.exp

.lite_workspace.lua
*.code-workspace

/neon86.ncb
*.dsp
*.mak
*.plg
*.user
*.dsw
*.opt
*.suo
*.blend1
LAUNCHER.lnk

# private projects
toys/mafia
